body {
    font-family: 'Noto Sans JP', sans-serif;
    background-image: url("../imgs/login-bg.jpg");
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

input, select {
    width: 100%;
}

.login-container {
    background-color: rgba(249, 249, 249, 0.932);
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 700px;
    padding: 100px;
}

#loginBtn {
    margin: 10px;
}

.register-container {
    background-color: rgba(249, 249, 249, 0.932);
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 700px;
    padding: 50px;
}

p, a {
    color: green;
}
