body {
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Noto Sans JP', sans-serif;
}

header {
    background-color: white;
    border-top-left-radius: 10pt;
    border-top-right-radius: 10pt;
    padding: 10px;
    text-align: center;
}

.body {
    background-color: white;
    border-radius: 10pt;
    width: 80%;
    min-height: 100vh;
    display: block;
    justify-content: center;
    align-items: center;

}

section {
    background-color: whitesmoke;
    margin: 25px;
    padding: 15px;
    border-radius: 10pt;
}

textarea {
    width: 80%;
    resize: none;
}

.center {
    justify-content: center;
    align-items: center;
}